<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="IchkanDBContext" connectionString="Data Source=208.91.198.196;Initial Catalog=IchkanDB;Persist Security Info=True;User ID=usradmin2;Password=usr12tres;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>